* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    font-family: 'Silkscreen', sans-serif;
}

.clouds {
    opacity: 0.7;
    width: 100%;
    height: 362px;
    position: relative;
    overflow: hidden;
    margin-top: 70px;
}

.clouds > div {
    width: 2526px;
    background: url(../images/cloud.png);
    height: 100%;
    transform: translate3d(0, 0, 0);
}

.clouds .mover-1 {
    animation: moveSlideShow 15s linear infinite;
}

@keyframes moveSlideShow {
    100% {
        transform: translateX(-20%);
    }
}

#charizard {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 250px;
    animation: moveCharizard 20s linear infinite;
}

@keyframes moveCharizard {
    0% { right: 0px; }
    100% { right: calc(100% + 50px); }
}

#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px;
}

#chatbox {
    width: 250px;
    height: 300px;
    box-shadow: 0 0 10px 0 black;
    text-align: center;
    flex-direction: column;
}

.chatbox-header {
    background-color: crimson;
    color: white;
    padding: 10px;
    font-weight: bold;
}

#chatbox iframe {
    opacity: 0.9;
}

#chatbox iframe:hover {
    opacity: 1;
}

#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#navbar a {
    color: blanchedalmond;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}

#navbar a:hover {
    color: greenyellow;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('../font/slkscr.ttf') format('truetype');
}

#navbar a.night-club:hover {
    color: hotpink; /* Change the text color to pink */
}

#navbar a.night-club .emoji::before {
    content: "🪩";
}

#navbar a.night-club:hover .emoji::before {
    content: "🕺"; /* Change emoji on hover */
}

